body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #9370DB;
  z-index: 1;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 800px;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  box-shadow: 2px black;
  box-shadow: 7px 7px 3px #E6E6FA;
  background-color: white;
}

h1{
  margin: 30px;
  text-align: center;
  color: white;
}

select{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-top: 80px;
  box-shadow: 5px 5px 2px grey;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

input{

  border-radius: 5px;
  font-size: 20px;
  width: 90px;
  margin: 5px;
  padding: 8px;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

hr {
  position: absolute;
  top: 44%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%; 
  border: 2px solid black; 
  z-index: 1;
}

#output{

  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;

}

button{

  position: absolute;
  top: 44%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-width: 2px;
  border-color: black;
  color: black; 
  padding: 10px 20px; 
  font-size: 18px; 
  cursor: pointer; 
  border-radius: 10px; 
  box-shadow: 3px 3px 5px grey; 
  z-index: 2;
  transition: 0.3s;

}

button:hover{
  background-color: #9370DB;
  color: white;
  border: none;
}
